<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">
            var app = angular.module('app', []);
            app.controller('DemoCtrl', function($scope, $http){
                // var promise = $http.get('todo.json');
                // promise.success(function(data){
                //     $scope.todos = data;
                // });

                // $http.get('todo.json').then(function(res){
                //     $scope.todos = res.data;
                // }, function(){
                //     $scope.todos = [{action:'error'}];
                // }).then(function(){
                //     $scope.todos.push({action:"Request Complete"});
                // });

                $http.get("todo.json").success(function (data) {
                    console.log(data);
                    data[0].action = "\n testing \n\nhueeeee!";
                    var jsonString = angular.toJson(data);
                    console.log(jsonString);
                    $scope.todos = angular.fromJson(jsonString);
                });
            });
        </script>
    </head>
    <body ng-controller="DemoCtrl">
        <div class="panel">
            <h1>Todo</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            Action
                        </td>
                        <td>
                            Done?
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in todos">
                        <td>
                            {{i.action}}
                        </td>
                        <td>
                            {{i.done}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
