<!DOCTYPE html>
<html ng-app="store">
    <head>
        <meta charset="utf-8">
        <title>Store</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">
            angular.module("store", ["customFilters", "cart", "ngRoute"])
                .config(function($routeProvider){
                    //listens to URL routes requests that end with #/checkout or #/products
                    // app.html#/checkout is valid in this case
                    //without the #, the page will RELOAD!
                    $routeProvider.when("/complete", {
                        templateUrl: "/views/thankYou.html"
                    });
                    $routeProvider.when("/placeorder", {
                        templateUrl: "/views/placeOrder.html"
                    });
                    $routeProvider.when("/checkout", {
                        templateUrl: '/views/checkoutSummary.html'
                    });
                    $routeProvider.when("/products", {
                        templateUrl: '/views/productList.html'
                    });
                    $routeProvider.otherwise({
                        templateUrl: '/views/productList.html'
                    });
                });
        </script>
        <script src="controllers/store.js" charset="utf-8"></script>
        <script src="filters/customFilters.js" charset="utf-8"></script>
        <script src="controllers/productList.js" charset="utf-8"></script>
        <script src="components/cart/cart.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-route.js" charset="utf-8"></script>
        <script src="controllers/checkoutControllers.js"></script>
    </head>
    <body ng-controller="StoreCtrl">
        <div class="navbar navbar-inverse">
            <a href="#" class="navbar-brand">STORE</a>
            <cart-summary />
        </div>
        <div class="container-fluid" ng-show="data.error">
            <div class="row">
                <div class="alert alert-danger">
                    Error({{data.error.status}}). The Product was not loaded.
                    <a href="/index.html">Click to try again!</a>
                </div>
            </div>
        </div>

        <!-- <ng-include src="'views/productList.html'"></ng-include> -->
        <ng-view />
        <!-- this ng-view works with the routeProvider/ngRoute, k? -->
    </body>
</html>
