<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body ng-app ng-init="name = 'world'">
        <p>
            say hello to:
            <input type="text" name="name" value="" ng-model="name">
        </p>
        <h1>Hello, {{name}}!</h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
    </body>
</html>
