<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body ng-app>
        <div class="" ng-controller="HelloCtrl">
            <p>
                Say hello to:
                <input type="text" name="name" value="" ng-model="name">
            </p>
            <h1>
                hello, {{name}}!
            </h1>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8">
        </script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"> -->
        <script type="text/javascript">
            function HelloCtrl($scope){
                $scope.name = 'World';
            }
            var app = angular.module('app',[]);
            app.controller('HelloCtrl',['$scope',HelloCtrl]);
            // var HelloCtrl = function ($scope) {
            //     $scope.name = 'World';
            // }
        </script>
    </body>
</html>
