<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" charset="utf-8">
</head>
<body ng-controller="ToDoCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>
                        {{todo.user}}'s Todo list
                        <span class="label label-default" ng-hide="incompleteCount() == 0" ng-class="warningLevel()">
                            {{incompleteCount()}}
                        </span>
                    </h1>
                </div>

                <div class="panel">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="actionText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
                        </span>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Done
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                             <!-- filter:{done:false}  -->
                            <tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
                                <td>
                                    {{item.action}}
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="item.done">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="checkbox-inline">
                        <label><input type="checkbox" ng-model="showComplete"> Show Complete</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var model = {
            user : "Braulio"
        }
        var app = angular.module('app', []);

        app.run(function($http){
            $http.get("todo.json").success(function(data){
                model.items = data;
            });
        });

        app.filter('checkedItems',function(){
            return function(items, showComplete){
                var resultArr = [];
                angular.forEach(items, function(item){
                    if(item.done == false || showComplete == true){
                        resultArr.push(item);
                    }
                });
                return resultArr;
            };
        });
        app.controller('ToDoCtrl', function($scope){
            $scope.todo = model;
            $scope.incompleteCount = function(){
                var count = 0;
                angular.forEach($scope.todo.items, function(item){
                    if (!item.done) {
                        count++;
                    }
                });
                return count;
            };
            $scope.warningLevel = function(){
                return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
            };
            $scope.addNewItem = function(actionText){
                $scope.todo.items.push({action:actionText,done:false});
            };
        });
    </script>
</body>
</html>
